<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /halifax/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /halifax/index.html [L]
</IfModule>
